# 极氪 车系身份改写（换整车车模用，需与车型脚本一起开）
# Quantumult X →「重写」→ + →「资源」→ 填本文件 raw 地址
# ⚠️ 会改变 App 显示的车控功能列表，看完建议关掉

^https:\/\/gric-api\.geely\.com\/ms-vehicle-core\/api\/v1\.0\/vehicle\/favorite-vehicles.* url script-response-body https://raw.githubusercontent.com/hyyds/sign/main/zeekr_series.js

hostname = gric-api.geely.com
