# 极氪 8X
# Quantumult X →「重写」→ + →「资源」→ 填本文件 raw 地址
# 列表里这条的开关 = 一键启用 / 停用
# ⚠️ 同时只开一个车型，多个一起开会互相覆盖

^https:\/\/api-gw-toc\.zeekrlife\.com\/zeekrlife-mp-order\/v1\/order\/getConfigByVin.* url script-response-body https://raw.githubusercontent.com/hyyds/sign/main/zeekr_8x.js
^https:\/\/api-gw-toc\.zeekrlife\.com\/zeekrlife-mp-order\/v1\/vehicle\/toc\/sublistV3.* url script-response-body https://raw.githubusercontent.com/hyyds/sign/main/zeekr_8x.js
^https:\/\/api-gw-toc\.zeekrlife\.com\/zeekrlife-mp-order\/v1\/vehicle\/getUserOrderSub.* url script-response-body https://raw.githubusercontent.com/hyyds/sign/main/zeekr_8x.js
^https:\/\/api-gw-toc\.zeekrlife\.com\/zeekrlife-mp-order\/v1\/order\/vehicle\/listVehicleByUserPhones.* url script-response-body https://raw.githubusercontent.com/hyyds/sign/main/zeekr_8x.js
^https:\/\/api-gw-toc\.zeekrlife\.com\/zeekrlife-mp-order\/v1\/order\/getVehiclePicUrlByVin.* url script-response-body https://raw.githubusercontent.com/hyyds/sign/main/zeekr_8x.js

hostname = api-gw-toc.zeekrlife.com
